html, body {font-family: 'Open Sans', sans-serif;font-weight:400;background: #03a9f0}
html, body.materialdesign {
	background-image: url('../img/login_backg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
.hpanel .panel-body {
    background: #fff;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    top: 50px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.hpanel .panel-body{
    position: relative;
    top: 100px;
    
    }
.panel-body {
    padding: 15px;
	background:#fff;
}
